body{

	background-color: #f7fff6;
	

}

h1,h2,h3,h4,h5,h6,h7{
	
	color:#076e00;
	font-family:serif;
	
}

	
p{
	
	font-family: sans-serif;
	text-align:justify;
	
	padding-top:2px;
	padding-bottom:2px;
	
	padding-left:7px;
	padding-right:7px;
	
}

hr{
	
	color: red;
	background-color: red;
	height: 5px;
	width: 50%;
	text-align: left; 

}

img{

	width:25%;
	height:25%;	

}

a:link{
	
	color:#076e00;
	
}

a:visited{
	
	color:#043900;
	
} 

a:hover{
	
	color:#0baa00;
	
}

a:active{
	
	color: red
	
}

.one {
	
	background-color:cfffca;
	
}

.two {
	
	background-color:b4ffab;
	
}