.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
    justify-content: centre;
}

h1 {
    align-content: centre;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    border-color: black;
}

body {
    background-color: rgb(236, 255, 236);
}

#option1-button {
    background-color: rgb(255, 147, 147);
}

#option2-button {
    background-color: rgb(147, 172, 255);
}

/*#option1-text {
    /*color: rgb(255, 147, 147);
}

#option2-text {
    /*color: rgb(147, 172, 255); needs a black border around text
}*/

input {
    width: 100%;
    height: 85vh;
    font-size: 5em;
    border-color: black;
    border-width: 1%;
    border-style: dashed;
}

.button1 {
    margin: 1%;
    border: 1%;
}

.button2{
    margin: 1%;
    border: 1%;
}