/* cyrillic-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMRrTEUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtM1rTEUc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMVrTEUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMprTEUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMZrTEUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMdrTEUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DJKQtMlrTA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    background: #0f0f23; /*337 x 5*/
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
  }
  img { border:0; }
  a { outline:0; }
  main, figure, figcaption { display:block; }
  pre, code { font-family: "Source Code Pro", monospace; }
  header, main {
    -webkit-text-size-adjust: none;
  }
  
  a {
    text-decoration: none;
    color: #009900;
  }
  a:hover, a:focus {
    color: #99ff99;
  }
  h1, h2 {
    font-size: 1em;
    font-weight: normal;
  }
  code {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0px;
    border: 1px solid #333340;
    background: #10101a;
  }
  pre.wrap {
    max-width: 100%;
    white-space: pre-wrap;
  }
  
  .quiet {
    opacity: .5;
  }
  p.wrap {
    width: 45em;
  }
  
  .hidden-layout {
    padding: 0 .5em;
    border: 1px solid transparent;
  }
  .hidden {
    border: 1px dotted gray;
    overflow: hidden;
    position: relative;
    padding: 0 .5em;
  }
  .hidden:before {
    content: "(hover to view)";
    position: absolute;
    opacity: .5;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
  }
  .hidden > * {
    visibility: hidden;
  }
  .hidden:hover {
    border-color: transparent;
  }
  .hidden:hover:before {
    display: none;
  }
  .hidden:hover > * {
    visibility: visible;
  }
  
  .warning:not(.warning-active) {
    transition: color 1s, opacity 1s;
  }
  .warning-active {
    color: #ff0000;
    opacity: 1;
  }
  
  .star-count {
    color: #ffff66;
  }
  .supporter-badge {
    color: #ffff66;
  }
  a.supporter-badge:hover, a.supporter-badge:focus {
    text-decoration: none;
    color: #ffffcc;
    text-shadow: 0 0 5px #ffff66;
  }
  .sponsor-badge {
    color: #79a2d8;
  }
  a.sponsor-badge:hover, a.sponsor-badge:focus {
    text-decoration: none;
    color: #ccdbed;
    text-shadow: 0 0 5px #79a2d8;
  }
  
  #sidebar {
    width: 200px;
    float: right;
    margin: 0 15px 2em 2em;
    position: relative;
    z-index: 10;
  }
  #sponsor {
    margin-bottom: 2.5em;
  }
  
  header {
    white-space: nowrap;
    cursor: default;
    z-index: 100;
    margin-bottom: 2em;
  }
  header h1 {
    display: inline-block;
    margin: 0;
    padding-right: 1em;
  }
  header h1 a, header h1 span {
    display: inline-block;
    text-decoration: none;
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
  header h1 a:hover, header h1 a:focus {
    color: #99ff99;
    text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
  }
  header h1.title-event .title-event-wrap {
    opacity: .33;
    white-space: pre;
  }
  header .user {
    display: inline-block;
    padding-left: 1em;
  }
  header nav {
    display: inline-block;
  }
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  header nav li {
    display: inline-block;
    padding: 0 .6em;
  }
  header nav a {
    display: inline-block;
    text-decoration: none;
    outline: none;
  }
  
  input[type="text"], textarea {
    background: transparent;
    color: inherit;
    border: 1px solid #666666;
    background: #10101a;
    padding: 0 2px;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
  }
  textarea {
    vertical-align: top;
  }
  
  label img {
    vertical-align: bottom;
    position: relative;
    top: -3px;
    margin-right: .3em;
  }
  input[type="radio"] { display: none; }
  input[type="radio"] ~ span {
    cursor: pointer;
    display: inline-block;
  }
  input[type="radio"] ~ span:before {
    content: "( ) ";
  }
  input[type="radio"] ~ span:hover, input[type="radio"] ~ span:focus {
    background-color: #19193b;
  }
  input[type="radio"]:checked ~ span {
    color: #ffffff;
  }
  input[type="radio"]:checked ~ span:before {
    content: "(O) ";
  }
  input[type="checkbox"] { display: none; }
  input[type="checkbox"] ~ span {
    cursor: pointer;
    display: inline-block;
  }
  input[type="checkbox"] ~ span:before {
    content: "[ ] ";
  }
  input[type="checkbox"] ~ span:hover, input[type="checkbox"] ~ span:focus {
    background-color: #19193b;
  }
  input[type="checkbox"]:checked ~ span {
    color: #ffffff;
  }
  input[type="checkbox"]:checked ~ span:before {
    content: "[X] ";
  }
  input[type="checkbox"]:disabled ~ span {
    opacity: .3;
    cursor: default;
  }
  input[type="checkbox"]:disabled ~ span:before {
    content: "[-] ";
  }
  input[type="checkbox"]:disabled ~ span:hover {
    background-color: transparent;
  }
  
  
  input[type="submit"] {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: #009900;
    cursor: pointer;
  }
  input[type="submit"]:hover, input[type="submit"]:focus {
    color: #99ff99;
  }
  *::-moz-focus-inner {
    padding: 0;
    border: 0
  }
  
  article {
    width: 45em;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  article:first-child {
    margin-top: 0;
  }
  article h2 {
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
  }
  article h2 + * {
    margin-top: 0;
  }
  article em {
    color: #ffffff;
    font-style: normal;
    text-shadow: 0 0 5px #ffffff;
  }
  article em.star {
    color: #ffff66;
    font-style: normal;
    text-shadow: 0 0 5px #ffff66;
  }
  article a {
    white-space: nowrap;
  }
  article .aside {
    opacity: .6;
  }
  article ul {
    list-style-type: none;
    padding: 0;
  }
  article li {
    padding-left: 2.5em;
    position: relative;
  }
  article li:before {
    content: "\00a0\00a0-\00a0";
    position: absolute;
    left: 0;
    top: 0;
  }
  .day-success {
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
  }
  
  form#settings input[type="radio"] ~ span {
    min-width: 30em;
  }
  form#settings input[type="checkbox"] ~ span {
    min-width: 30em;
  }
  
  .share {
    color: #009900;
    cursor: default;
    transition: color .2s 1s;
    /*position: relative;*/
  }
  .share:hover, .share:focus-within {
    color: #aaffaa;
    transition: color .2s 0s;
  }
  .share .share-content {
    /*position: absolute; background: #0f0f23;*/
    display: inline-block;
    vertical-align: text-bottom;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    transition: max-width .2s 1s;
  }
  .share .share-content:before {
    content: "\00a0";
  }
  .share .share-content:after {
    /*content: "]";*/
  }
  .share:hover .share-content, .share:focus-within .share-content {
    max-width: 45em;
    transition: max-width .2s 0s;
  }
  
  .puzzle-input {
    border: 1px solid #999999;
    background: #333333;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
  }
  
  .calendar {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
  }
  .calendar > span {
    color: #333333;
  }
  .calendar > a {
    text-decoration: none;
    color: #666666;
    outline: none;
    cursor: default;
  }
  .calendar a:hover, .calendar a:focus {
    background-color: #1e1e46;
    background-color: rgba(119,119,165,.2);
    cursor: pointer;
  }
  #calendar-countdown {
    padding-left: .5em;
    color: #cccccc;
  }
  .calendar .calendar-day { color: #666666; }
  .calendar a .calendar-day { color: #cccccc; }
  .calendar a .calendar-mark-complete,
  .calendar a .calendar-mark-verycomplete { visibility: hidden; }
  .calendar a.calendar-complete     .calendar-mark-complete,
  .calendar a.calendar-verycomplete .calendar-mark-complete { visibility: visible; color: #ffff66; }
  .calendar a.calendar-verycomplete .calendar-mark-verycomplete { visibility: visible; color: #ffff66; }
  
  .calendar .calendar-day-new               { animation: anim-day-new 5s; }
  .calendar .calendar-day-new .calendar-day { animation: anim-day-new-day 5s; }
  @keyframes anim-day-new {
    0%   { color: #333333; text-shadow: 0 0 5px transparent; }
    25%  { color: #ffffff; text-shadow: 0 0 5px #ffffff; }
    100% { color: #666666; text-shadow: 0 0 5px transparent; }
  }
  @keyframes anim-day-new-day {
    0%   { color: #666666; text-shadow: 0 0 5px transparent; }
    25%  { color: #ffffff; text-shadow: 0 0 5px #ffffff; }
    100% { color: #cccccc; text-shadow: 0 0 5px transparent; }
  }
  
  .eventlist-event {
    white-space: pre;
  }
  
  .stats > span, .stats > span .stats-firstonly, .stats > span .stats-both {
    color: #666666;
  }
  .stats > a {
    color: #cccccc;
    min-width: 35em;
    display: inline-block;
  }
  .stats > a:hover, .stats > a:focus {
    background-color: #1e1e46;
  }
  .stats-firstonly {
    color: #9999cc;
  }
  .stats-both {
    color: #ffff66;
  }
  
  .leaderboard-daylinks {
    cursor: default;
  }
  .leaderboard-daylinks-selected {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
  }
  .leaderboard-daydesc-first {
    color: #9999cc;
  }
  .leaderboard-daydesc-both {
    color: #ffff66;
  }
  .leaderboard-entry {
    white-space: pre;
  }
  .leaderboard-entry .leaderboard-totalscore {
    color: #ffffff;
  }
  .leaderboard-anon {
    opacity: .6;
  }
  .leaderboard-userphoto {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 .5em;
    text-align: center;
  }
  .leaderboard-userphoto img {
    height: 20px;
    max-width: 20px;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
  .leaderboard-time {
    opacity: .5;
  }
  
  .privboard-row {
    white-space: pre;
  }
  .privboard-name {
    vertical-align: text-bottom;
  }
  .privboard-days > span    { display: inline-block; color: #333333; }
  .privboard-days > a       { display: inline-block; }
  .privboard-star-locked    { visibility: hidden; }
  .privboard-star-unlocked  { color: #333333; }
  .privboard-star-firstonly { color: #9999cc; }
  .privboard-star-both      { color: #ffff66; }
  .privboard-delbtn { opacity:.33; }
  .privboard-row:hover .privboard-delbtn { opacity:1; }
  
  .sponsors {
    width: 46em; /*76 characters*/
  }
  .sponsor {
    margin: 1em 0;
  }
  