body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.grid-containter {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: centre;   
}